<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.jianchen.rentme" >

    <permission
        android:name="com.android.jianchen.rentme.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="com.android.emerald.rentme.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".activity.root.AppController"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/facebook_app_name" />
        <activity
            android:name=".activity.root.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.ImageCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myprojects.ProjectCompleteDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myprojects.ProjectProgressDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myprojects.ChattingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.PhotoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myprojects.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.me.ServiceDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.me.ServiceCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.search.TalentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.myprojects.MyProjectActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.me.ProfileActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.me.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myprojects.LeaveReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.root.SocialLoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.search.SelectSkillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.search.MapActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".helper.service.FirebaseTracker"
            android:process=":remote" >
        </service>
        <service
            android:name=".helper.service.GPSTracker"
            android:process=":my_service" >
        </service>
    </application>

</manifest>